body{background-color:#474b4f;}
@font-face{font-family:EnglishSC;src:url(Assets/English_SC/EnglishSCRegular.ttf);} /*from google fonts, check Assets/English_SC/OFL.txt for more info*/
.mainFont{font-family:EnglishSC;}
